<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Maze Game</title>
        <meta name="description" content="High scores for the maze game">
        <meta name="author" content="Me">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/styles.css?v=1.1.3">
        
    </head>

    <body>
        <h1>The Maze Game Leaderboard</h1>
        <p>Welcome to Cyrus, Raihan, Brian, and Sahil's Maze game!</p>
        
        {% block content %}
        {% endblock %}

        </table>
    </body>
</html>