{% extends "base.html" %}

{% block content %}
<!-- change the stuff in block content -->
    {% if allScores|length > 0 %}

        <table class="HighScore">
        <TR>
            <TD>Name</TD>
            <TD>Score</TD>
            <TD>Date</TD>
        </TR>
        
        {% for score in allScores %}
            {% if score.score != 0 %}
            <TR>
                <TD>{{ score.name }}</TD>
                <TD>{{ score.score }}</TD>
                <TD>{{ score.date }}</TD>
            </TR>
            {% endif %}
            
        {% endfor %}
        </table>
        <form action="/clear" method="POST">
            <input type="submit" value="Clear High Scores" class="button">
        </form>

    {% else %}
        <p>No High Scores ;(</p>

    {% endif %}
{% endblock content %}